body {
    margin: 0;
    padding: 0;
    background-color: #DBDBDB;
    font-family: Helvetica, sans-serif;
}




.flex-container3 {
  display: flex;
  align-items: stretch;
  position: absolute;
  width: 100%;
  margin-top: 60px;
}

.menu {
    flex: 1;
    background-color: #284B55;
    overflow: hidden;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }




 .menu a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #ffffff;
    color: #284B55;
}

.logo {
  position: absolute;
  width: 13%;
}





.banner {
  width: 100%;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
}


/*flex-box brown/Joanna*/

.flex-container {
  display: flex;
  align-items: stretch;
}

#bcolor {
  background-color: #BB876D;
}

.box {
  flex: 1;
  background-color: #A76B46;
  color: white;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 100%;
}

/*Hover/Joanna*/
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  width: 29%;
}

.hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A76B46;

}

.box:hover .hover {
  opacity: 1;
}

.hovercolor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #BB876D;
}

.box:hover .hovercolor {
  opacity: 1;
}



/*flexbox green (commtens)*/

.flex-container2 {
  display: flex;
  align-items: stretch;
}

.box2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #B3C2BA;
  color: white;
  line-height: 100%;
}


.imag {
  width: 29%;
}


/*comments comtainer*/

* {
box-sizing: border-box;
}
.mySlides {
  display: none;
}

.size {
  height: 300px;
  width: 300px;
}

.slideshow-container {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}


/* Fading away */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*Timeline/Joanna*/

* {
  box-sizing: border-box;
}



.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #5F737C;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #5F737C;
  border: 4px solid #5F737C;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place left */
.left {
  left: 0;
}

/* Place right */
.right {
  left: 50%;
}

/* Arrows left*/
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #5F737C;
}

/* Arrows right*/
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #5F737C; transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* content/box */
.content {
  padding: 20px 30px;
  background-color: #5F737C;
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5F737C; transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.footer {
  position: relative;
  width: 100%;
  background-color: #284B55;
  color: white;
  text-align: center;
}


/* underside - frivillig*/

.flexcontainerfrivillig {
  display: flex;
  background-image: url("../images/vardemiddelalder.png");
  height: 1000px;
  background-position: center;

}
.flexboxknap {
  flex-grow: 1;
  text-align: center;
}

#myBtnone {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 10px 66px;
  line-height: 100%;
  border-radius: 5px;
  color: #284B55;
  background-color: white;
  border: none;

}

#myBtnone:hover {
  background-color: #284B55;
  color: white;
}

#myBtntwo {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 10px 47px;
  line-height: 100%;
  border-radius: 5px;
  color: #284B55;
  background-color: white;
  border: none;
}

#myBtntwo:hover {
  background-color: #284B55;
  color: white;
}


/* modal til undersiden frivillig og aktør*/
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: yellow;
  margin: auto;
  padding: 40px;
  width: 70%;
}

.close {
  color: red;
  float: right;
  font-size: 20px;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
