body {
    margin: 0;
    padding: 0;
    background-color: #DBDBDB;
    font-family: Helvetica, sans-serif;
}

.menu {
    background-color: #284B55;
    overflow: hidden;
 }

 .menu a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #ffffff;
    color: #284B55;
}

.banner {
  width: 100%;
}

/*flex-box/Joanna*/

.flex-container {
  display: flex;
  align-items: stretch;

}

#bcolor {
  background-color: #BB876D;

}


.flex-container > div {
  background-color: #A76B46;
  color: white;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;

}

.flex-container2 {
  display: flex;
  align-items: stretch;
}

.flex-container2 > div {
  background-color: #B3C2BA;
  color: white;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;

}



/*Timeline/Joanna*/

* {
  box-sizing: border-box;
}



.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #5F737C;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #5F737C;
  border: 4px solid #5F737C;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place left */
.left {
  left: 0;
}

/* Place right */
.right {
  left: 50%;
}

/* Arrows left*/
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #5F737C;
}

/* Arrows right*/
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #5F737C; transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* content/box */
.content {
  padding: 20px 30px;
  background-color: #5F737C;
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5F737C; transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}








.footer {
  position: relative;
  width: 100%;
  background-color: #284B55;
  color: white;
  text-align: center;
}
